<!DOCTYPE html>
<html lang="en"> 
  <head>
    <%= File.read 'preamble.html' %>
  </head> 

  <body>    
    <%= File.read 'header.html' %>

    <section id="benefits-section" class="benefits-section theme-bg-light-gradient py-5">
      <div class="container py-5">
	<h2 class="section-heading text-center mb-3">
          Engineering Software as a Service: <br>
          An Agile Approach Using Cloud Computing
        </h2>
	<div class="section-intro single-col-max mx-auto text-center
                    mb-5">
            A one- or two-semester course in Agile/XP development using Ruby on Rails and HTML5/JavaScript to develop,
            test, and deploy cloud-based and mobile apps.  Accompanied by comprehensive instructor and student materials,
            including autograded programming assignments, and widely
            endorsed by industry practitioners and academic instructors.
        </div>
      </div>
    </section>
    <%= File.read 'tiles.html' %>
    
    <section class="hero-section">
      <div class="container">
	<div class="row">
	  <div class="col-12 col-md-7 pt-5 mb-5 align-self-center">
	    <div class="promo pe-md-3 pe-lg-5">

	      <div class="hero-quotes mt-5">
		<div id="quotes-carousel" class="quotes-carousel carousel slide carousel-fade mb-5" data-bs-ride="carousel" data-bs-interval="8000">
                  <% load('quotes.rb') %>
		  <ol class="carousel-indicators">
                    <% 0.upto(QUOTES.length - 1).each do |i| %>
		    <li id="b<%= i %>" data-bs-target="#quotes-carousel" data-bs-slide-to="<%= i %>"></li>
                    <% end %>
		  </ol>

		  <div class="carousel-inner">
                    <% QUOTES.each_with_index do |q,i| %>
		    <div class="carousel-item" id="c<%= i %>">
		      <blockquote class="quote p-4 theme-bg-light">
                        <%= q[0] %>
		      </blockquote><!--//item-->
		      <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
			<div class="col-12 col-md-auto text-center text-md-start">
			  <img class="source-profile" src="assets/images/profiles/<%= q[1] %>" alt="image" >
			</div><!--//col-->
			<div class="col source-info text-center text-md-start">
			  <div class="source-name"><%= q[2] %></div>
			  <div class="source-title"><%= q[3] %></div>
			</div><!--//col-->
		      </div><!--//source-->
		    </div><!--//carousel-item-->
                    <% end %>
		  </div><!--//carousel-inner-->
		</div><!--//quotes-carousel-->
                <script>
                  document.getElementById('b0').classList.add('active');
                  document.getElementById('c0').classList.add('active');
                </script>
	      </div><!--//hero-quotes-->
	    </div><!--//promo-->
	  </div><!--col-->
	  <div class="col-12 col-md-5 mb-5 align-self-center">
	    <div class="book-cover-holder">
	      <img class="img-fluid book-cover" src="assets/images/kindle-internal-cover.jpg" alt="book cover" >
	      <div class="book-badge d-inline-block shadow">
	      </div>
	    </div><!--//book-cover-holder-->

	  </div><!--col-->
	</div><!--//row-->
      </div><!--//container-->
    </section><!--//hero-section-->
    
    <%= File.read 'authors.html' %>

    <footer class="footer">
      <div class="footer-bottom text-center py-5">
        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="theme-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
      </div>
    </footer>

    <!-- Javascript -->          
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script src="assets/plugins/smoothscroll.min.js"></script> 

    <script src="assets/js/main.js"></script>

  </body>
</html> 

