<!DOCTYPE html>
<html lang="en"> 
  <head>
    <%= File.read 'preamble.html' %>
  </head> 

  <body>    
    <%= File.read 'header.html' %>

    <section id="benefits-section" class="benefits-section theme-bg-light-gradient py-5">
      <div class="container py-5">
	<h2 class="section-heading text-center mb-3">
          Engineering Software as a Service: <br>
          An Agile Approach Using Cloud Computing
        </h2>
	<div class="section-intro single-col-max mx-auto text-center
                    mb-5">
            A one- or two-semester course in Agile/XP development using Ruby on Rails and HTML5/JavaScript to develop,
            test, and deploy cloud-based and mobile apps.  Accompanied by comprehensive instructor and student materials,
            including autograded programming assignments, and widely
            endorsed by industry practitioners and academic instructors.
        </div>
      </div>
    </section>
    <%= File.read 'tiles.html' %>
    
    <section class="hero-section">
      <div class="container">
	<div class="row">
	  <div class="col-12 col-md-7 pt-5 mb-5 align-self-center">
	    <div class="promo pe-md-3 pe-lg-5">

	      <div class="hero-quotes mt-5">
		<div id="quotes-carousel" class="quotes-carousel carousel slide carousel-fade mb-5" data-bs-ride="carousel" data-bs-interval="8000">
                  <% load('quotes.rb') %>
		  <ol class="carousel-indicators">
                    <% 0.upto(QUOTES.length - 1).each do |i| %>
		    <li id="b<%= i %>" data-bs-target="#quotes-carousel" data-bs-slide-to="<%= i %>"></li>
                    <% end %>
		  </ol>

		  <div class="carousel-inner">
                    <% QUOTES.each_with_index do |q,i| %>
		    <div class="carousel-item" id="c<%= i %>">
		      <blockquote class="quote p-4 theme-bg-light">
                        <%= q[0] %>
		      </blockquote><!--//item-->
		      <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
			<div class="col-12 col-md-auto text-center text-md-start">
			  <img class="source-profile" src="assets/images/profiles/<%= q[1] %>" alt="image" >
			</div><!--//col-->
			<div class="col source-info text-center text-md-start">
			  <div class="source-name"><%= q[2] %></div>
			  <div class="source-title"><%= q[3] %></div>
			</div><!--//col-->
		      </div><!--//source-->
		    </div><!--//carousel-item-->
                    <% end %>
		  </div><!--//carousel-inner-->
		</div><!--//quotes-carousel-->
                <script>
                  document.getElementById('b0').classList.add('active');
                  document.getElementById('c0').classList.add('active');
                </script>
	      </div><!--//hero-quotes-->
	    </div><!--//promo-->
	  </div><!--col-->
	  <div class="col-12 col-md-5 mb-5 align-self-center">
	    <div class="book-cover-holder">
	      <img class="img-fluid book-cover" src="assets/images/kindle-internal-cover.jpg" alt="book cover" >
	      <div class="book-badge d-inline-block shadow">
	      </div>
	    </div><!--//book-cover-holder-->

	  </div><!--col-->
	</div><!--//row-->
      </div><!--//container-->
    </section><!--//hero-section-->
    
    
    <section id="content-section" class="content-section">
      <div class="container">
	<div class="single-col-max mx-auto">
	  <h2 class="section-heading text-center mb-5">Do-It-Yourself Materials</h2>
          <p class="text-center">
            Craft your own teaching or learning experience using our open materials.  Lecture videos are
            captioned in US English and keyed to book section numbers.  Supplementary videos motivate the ideas in the course. 
          </p>
	  <div class="row">
	    <div class="col-12 col-md-6 mb-5">
	      <div class="key-points mb-4 text-center">
		<ol class="key-points-list  mb-4 mx-auto d-inline-block text-start">
                  <li><a
                        href="https://www.youtube.com/playlist?list=PLeMMGxq3FPxjcFZVmvkuc5tW2HtTkqlgP">
                      &nbsp;<i class="fas fa-video"></i>&nbsp; Introduction to Software as a Service, Agile Development, and
                    Cloud Computing</a></li>
                  <li><a
                        href="https://www.youtube.com/playlist?list=PLeMMGxq3FPxh7_76PotmzGsZGM8Q1Vthl">
                      &nbsp;<i class="fas fa-video"></i>&nbsp; How to Learn a New Language</a></li>
                  <li><a
                        href="https://www.youtube.com/playlist?list=PLeMMGxq3FPxgAcnQh5eHqTfO4Ucs5JORw">
                      &nbsp;<i class="fas fa-video"></i>&nbsp; SaaS Application Architecture: Microservices, APIs, and REST</a></li>
                  <li><a
                        href="https://www.youtube.com/playlist?list=PLeMMGxq3FPxjBbeB_aZ4L8Wo91rEds_GD">
                      &nbsp;<i class="fas fa-video"></i>&nbsp; SaaS Framework: Rails as a Model–View–Controller Framework</a></li>
                  <li><a
                        href="https://www.youtube.com/playlist?list=PLeMMGxq3FPxgeKHXxYOkV4JKCbRg5gWpg">
                      &nbsp;<i class="fas fa-video"></i>&nbsp; SaaS Framework: Advanced Programming Abstractions for SaaS</a></li>
                  <li><a
                        href="https://www.youtube.com/playlist?list=PLeMMGxq3FPxghXCpd4twByvWG6RKWcxHN">
                      &nbsp;<i class="fas fa-video"></i>&nbsp; Mobile and Desktop SaaS Clients: JavaScript Introduction</a></li>
                  <li><a
                        href="https://www.youtube.com/playlist?list=PLeMMGxq3FPxjbdVAkCU99UumJDWuLvg-l">
                      &nbsp;<i class="fas fa-video"></i>&nbsp; Requirements: BDD and User Stories</a></li>
                  <li><a
                        href="https://www.youtube.com/playlist?list=PLeMMGxq3FPxh_gCC98WbEfpRt5UBFrjAT">
                      &nbsp;<i class="fas fa-video"></i>&nbsp; Testing: Test-Driven Development</a></li>
                  <li><a
                        href="https://www.youtube.com/playlist?list=PLeMMGxq3FPxjSeso1JXLqmqXPDB0Ka-L3">
                      &nbsp;<i class="fas fa-video"></i>&nbsp; Software Maintenance: Enhancing Legacy Software Using Refactoring
                    and Agile Methods</a></li>
                  <li><a
                        href="https://www.youtube.com/playlist?list=PLeMMGxq3FPxjO97PniMI2kfRyR4_MnT3t">
                      &nbsp;<i class="fas fa-video"></i>&nbsp; Agile Teams</a></li>
                  <li><a
                        href="https://www.youtube.com/playlist?list=PLeMMGxq3FPxhmpbjhY8yurexXmuF4Fvai">
                      &nbsp;<i class="fas fa-video"></i>&nbsp; Design Patterns for SaaS Apps</a></li>
                  <li><a
                        href="https://www.youtube.com/playlist?list=PLeMMGxq3FPxh_vJS0_FVhudNMJ2cA95cH">
                      &nbsp;<i class="fas fa-video"></i>&nbsp; Dev/Ops</a></li>

		</ol>
              </div>
            </div>
            <div class="col-12 col-md-6">
	      <div class="key-points mb-4 text-center">
		<ul class="key-points-list list-unstyled mb-4 mx-auto d-inline-block text-start">
                  <li>
                    <a href="https://drive.google.com/drive/folders/1YJpubP97LxvfJYLYXsq4JxQ-TQIWZO2f?usp=sharing">
                      <i class="fa-solid fa-person-chalkboard"></i>
                      &nbsp; Slides organized by book chapter, in Google Slides format
                    </a>
                  </li>
                  <li>
                    <a href="https://teach.saasbook.info">
                      <i class="fa-solid fa-book-open"></i>
                      &nbsp; Instructors' Guide and access to instructor-only materials
                    </a>
                  </li>
                </ul>
              </div>
	    </div><!--//key-points-->
	  </div><!--//col-12-->   
        </div><!--//row-->
      </div><!--//container-->
    </section><!--//content-section-->


    <%= File.read 'authors.html' %>

    <footer class="footer">
      <div class="footer-bottom text-center py-5">
        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="theme-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
      </div>
    </footer>

    <!-- Javascript -->          
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script src="assets/plugins/smoothscroll.min.js"></script> 

    <script src="assets/js/main.js"></script>

  </body>
</html> 

